 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    background-color: rgb(243, 234, 227);
}
.image-1 {
    width: 300px;
    margin-left: 600px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative; top: 250px;
}
.div-1 {
    background-color: white;
    width: 300px;
    height: 450px;
    position: relative; left: 900px; bottom: 218px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.p-1 {
    font-size: 14px;
    letter-spacing: 5px;
    box-sizing: border-box;
    padding: 30px;
    color: rgb(109, 109, 117);
    font-family: 'Montserrat', sans-serif;
}
.p-2 {
    font-weight: bolder;
    font-size: 30px;
    margin-left: 30px;
    position: relative; bottom: 40px;
    font-family: 'Fraunces', serif;
}
.p-3 {
    margin-left: 30px;
    color: rgb(151, 151, 160);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative; bottom: 115px;
}
.p-4 {
    font-weight: bolder;
    margin-left: 30px;
    position: relative; bottom: 145px;
    color: rgb(60, 130, 104);
    font-size: 35px;
    font-family: 'Fraunces', serif;
}
.p-5 {
    font-size: 13px;
    margin-left: 180px;
    position: relative; bottom: 210px; left: 10px;
    color: rgb(122, 122, 134);
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
}
button {
    width: 220px;
    background-color: rgb(61, 129, 104);
    color: white;
    border-radius: 10px;
    height: 45px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.div-2 {
    color: red;
    position: relative; bottom: 190px; left: 20px;
}
.div-3 {
    font-size: 20px;
    color: black;
}
.div-2 i {
    color: white;
    position: relative; left: 60px;
}
.p-6 {
    font-weight: bolder;
    font-size: 30px;
    margin-left: 30px;
    position: relative; bottom: 75px;
    font-family: 'Fraunces', serif;
}
.p-7 {
    font-weight: bolder;
    font-size: 30px;
    margin-left: 30px;
    position: relative; bottom: 110px;
    font-family: 'Fraunces', serif;
}
.p-8 {
    margin-left: 30px;
    color: rgb(151, 151, 160);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative; bottom: 122px;
}
.p-9 {
    margin-left: 30px;
    color: rgb(151, 151, 160);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative; bottom: 129px;
}
.p-10 {
    margin-left: 30px;
    color: rgb(151, 151, 160);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative; bottom: 135px;
}