@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');


body {
    background-color: hsl(0, 0%, 95%);
}
.div-1 {
    width: 350px;
    height: 550px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: hsl(31, 77%, 52%);
    box-sizing: border-box;
}
.div-2 {
    width: 350px;
    height: 550px;
    background-color: hsl(184, 100%, 22%);
}
.div-3 {
    width: 350px;
    height: 550px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: hsl(179, 100%, 13%);
}
.container {
    border: solid 2px black;
    overflow: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: relative; top: 200px;
    border: none;
    box-sizing: border-box;
}
.container h1 {
    margin-left: 50px;
    position: relative; top: 60px;
    color: white;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 40px;
}
.container p {
    margin-left: 50px;
    font-size: 16px;
    font-family: 'Lexend Deca', sans-serif;
    position: relative; top: 70px;
    color: hsla(0, 0%, 100%, 0.75);
}
.container span {
    word-spacing: 4px;
}
.container button {
    margin-left: 50px;
    position: relative; top: 190px;
    width: 155px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
}
.button-1 {
    color: hsl(31, 77%, 52%);
}
.button-2 {
    color: hsl(184, 100%, 22%);
}
.button-3 {
    color: hsl(179, 100%, 13%);
}
.container img {
    margin-left: 50px;
    position: relative; top: 50px;
}
.button-1:hover {
    background-color: hsl(31, 77%, 52%);
    border: solid 2px hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.button-2:hover {
    background-color: hsl(184, 100%, 22%);
    border: solid 2px hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}
.button-3:hover {
    background-color: hsl(179, 100%, 13%);
    border: solid 2px hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
}