@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
    background-color: hsl(257, 40%, 49%);
}
.img-1 {
    height: 1000px;
    position: relative; bottom: 30px;
}
.img-2 {
    position: absolute; bottom: 110px; left: 85px;
    width: 900px;
}
.img-3 {
    position: absolute; bottom: 860px; left: 85px;
}
.h1-1 {
    position: absolute; bottom: 580px; left: 1050px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
}
.h1-2 {
    position: absolute; bottom: 510px; left: 1050px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 50px;
}
p {
    position: absolute; bottom: 410px; left: 1050px;
    color: rgb(209, 199, 199);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}
button {
    position: absolute; bottom: 340px; left: 1050px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 30px;
    border: none;
    color: hsl(257, 40%, 49%);
    width: 220px;
    height: 55px;
    font-size: 20px;
}
.img-4 {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    padding: 8px;
    position: relative; bottom: 70px; right: 70px;
    border: solid 1px white;
    border-radius: 50%;
    filter: brightness(0) invert(1);
    cursor: pointer;
}
.img-5 {
    height: 50px; 
    width: 50px;
    box-sizing: border-box;
    padding: 8px;
    position: relative; bottom: 70px; right: 40px;
    border: solid 1px white;
    border-radius: 50%;
    filter: brightness(0) invert(1);
    cursor: pointer;
}
.img-6 {
    height: 50px;
    width: 50px;
    box-sizing: border-box;
    padding: 8px;
    position: relative; bottom: 70px; right: 10px;
    border: solid 1px white;
    border-radius: 50%;
    filter: brightness(0) invert(1);
    cursor: pointer;
}
.img-4:hover {
    filter: brightness(0) invert(0.5);
}
.img-5:hover {
    filter: brightness(0) invert(0.5);
}
.img-6:hover {
    filter: brightness(0) invert(0.5);
}
button:hover {
    background-color: hsl(300, 69%, 71%);
    color: rgb(209, 199, 199);
    cursor: pointer;
}