@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
    background-color: hsl(185, 75%, 39%);
}
.image-1 {
    position: relative; right: 200px; bottom: 700px;
}
.image-2 {
    position: relative; bottom: 1000px; left: 1000px;
}
.div-1 {
    border: solid 1px white;
    width: 400px;
    height: 480px;
    background-color: white;
    ;position: relative; top: 250px;
    z-index: 1;
    margin: auto;
    border-radius: 15px;
}
.image-3 {
    width: 402px;
    height: 200px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative; right: 1px; bottom: 1px;
}
.image-4 {
    border: solid 6px white;
    border-radius: 50%;
    position: relative; left: 140px; bottom: 67px;
    width: 110px;
}
.p-1 {
    position: relative; left: 135px; bottom: 65px;
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bolder;
    color: hsl(229, 23%, 23%);
}
.span-1 {
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    position: relative; left: 10px;
}
.p-2 {
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    position: relative; left: 170px; bottom: 70px;
}
.hr-1 {
    position: relative; bottom: 50px;
}
.span-2 {
    color: hsl(229, 23%, 23%);
    font-weight: bolder;
    position: relative; left: 70px; bottom: 45px;
    font-size: 24px;
    font-family: 'Kumbh Sans', sans-serif;
    word-spacing: 50px;
}
.span-3 {
    color: hsl(0, 0%, 59%);
    font-family: 'Kumbh Sans', sans-serif;
    position: relative; left: 55px; bottom: 40px;
    word-spacing: 50px;
    letter-spacing: 2px;
    font-size: 13px;
}