@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap');

body {
    background-color: rgb(213, 225, 239);
}
.div-1 {
    border: solid 1px white;
    width: 300px;
    height: 470px;
    margin: auto;
    background-color: white;
    position: relative; top: 300px;
    border-radius: 20px;
}
img {
    width: 280px;
    height: 300px;
    border-radius: 10px;
    position: relative; left: 10px; top: 10px;
}
.p-1 {
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    position: relative; left: 40px; top: 70px;
}
.p-2 {
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    position: relative; left: 35px; top: 54px;
}
.p-3 {
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    position: relative; left: 113px; top: 37px;
}
.p-4 {
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    position: relative; left: 40px; bottom: 90px;
    font-size: 20px;
}
.p-5 {
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    position: relative; left: 36px; bottom: 112px;
    font-size: 20px;
}