@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

body {
    background-color: hsl(233, 47%, 7%);
}
.div-1 {
    border: solid 1px hsl(244, 38%, 16%);
    width: 1440px;
    height: 600px;
    background-color: hsl(244, 38%, 16%);
    margin: auto;
    position: relative; top: 200px;
    border-radius: 10px;
}
img {
    width: 720px;
    height: 600px;
    position: absolute; right: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    filter: opacity(0.2) drop-shadow(0 0 0 hsl(277, 91%, 64%)) contrast(1.9)
}
.h1-1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    font-size: 40px;
    margin-left: 90px;
    position: relative; top: 80px;
}
.span-1 {
    color: hsl(277, 64%, 61%);
}
.p-1 {
    font-size: 16px;
    margin-left: 90px;
    position: relative; top: 85px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}
.p-2 {
    font-size: 16px;
    margin-left: 90px;
    position: relative; top: 78px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}
.p-3 {
    font-size: 16px;
    margin-left: 90px;
    position: relative; top: 70px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
}
.span-2 {
    margin-left: 90px;
    position: relative; top: 170px;
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 30px;
    font-weight: bolder;
    word-spacing: 80px;
}
.span-3 {
    margin-left: 90px;
    position: relative; top: 175px;
    font-family: 'Lexend Deca', sans-serif;
    color: hsla(0, 0%, 100%, 0.6);
    word-spacing: 60px;
    font-size: 15px;
}