@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    background-color: hsl(217, 54%, 11%);
}
.div-1 {
    border: solid 1px hsl(216, 50%, 16%);
    width: 300px;
    height: 520px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 15px;
    margin: auto;
    position: relative; top: 250px;
}
.image-1 {
    width: 260px;
    height: 280px;
    position: relative; left: 20px; top: 20px;
    border-radius: 10px;
}
.p-1 {
    color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
    margin-left: 20px;
    position: relative; top: 20px;
    font-weight: bolder;
}
.p-2 {
    margin-left: 20px;
    position: relative; top: 15px;
    color: rgb(127, 150, 179);
    font-family: 'Outfit', sans-serif;
}
.p-3 {
    margin-left: 20px;
    position: relative; top: 2px;
    color: rgb(127, 150, 179);
    font-family: 'Outfit', sans-serif;
}
.p-4 {
    margin-left: 210px;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    position: relative; top: 11px;
}
.clock {
    position: relative; left: 185px; bottom: 21px;
}
.ethereum {
    position: relative; bottom: 21px; right: 2px;
}
.p-5 {
    position: relative; left: 36px; bottom: 60px;
    color: hsl(178, 100%, 50%);
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
}
.hr-1 {
    border-color: rgb(112, 131, 155);
    margin: auto;
    position: relative; bottom: 60px;
    width: 255px;
}
.image-2 {
    width: 25px;
    border: solid 1px white;
    border-radius: 50%;
    margin-left: 20px;
    position: relative; bottom: 50px;
}
.p-6 {
    position: relative; left: 60px; bottom: 90px;
    font-family: 'Outfit', sans-serif;
    color: rgb(127, 150, 179);
    font-size: 14px;
}
.div-1 span {
    color: white;
}